:root {
    --bg: #3498db;
    --title: #5c2997;
    --border: orange;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0px;
    padding: 0px;
}

.form {
    border: groove #ADD8E6;
    background-image: linear-gradient(white, #ADD8E6, white);
    padding: 10px 25px;
    border-radius: 1806px;
    min-width: 30%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.buttons {
    align-self: end;
    margin-right: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 140mm;
    margin: 0 auto;
}

.test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons input {
    padding: 1px 10px;
}

.test input {
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
}